---
---
@media (min-width: {{site.width}}) {
  #page {
    width: {{site.width}};
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: {{site.width}}) {
  #page {
    width: 100%;
  }
}
body {
  background-color: {{site.color_alt}};
  color: {{site.color}};
}
h1 {
  width: 100%;
  text-align: center;
  background-color: {{site.color_accent}};
  border-radius: 15px;
}
img {
  max-width: 100%;
  height: auto;
  &.auth_img {
    display: inline;
    {% if site.pfpsize %}
    width: {{site.pfpsize}};
    height: {{site.pfpsize}};
    {% endif %}
    vertical-align: middle;
    border-radius: 15px;
  }
}
a {
  text-decoration: none;
  color: {{site.color_link}};
  &:hover {
    color: {{site.color_link_hover}};
  }
}
.rounded {
  border-radius: 15px;
  padding: 5px;
}